@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
header{
    padding: 2em;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    text-align: center;
}
.par1{
      color:  #ffd000;
}
.par2{
      color: rgb(152, 116, 187);
}
.par3{
      color: rgb(71, 190, 190);
}
body{
    background-color:#3F64DE;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main{
    display: flex;
    flex-direction: row;
}
section{
    padding: 2em;
}
.table-head{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-emphasis-color: #f8f9f9;
}
th{
    color: rgb(145, 255, 10);
}
tr{
    color: gold;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
tr{
    text-align: center;
}
tr:hover { /* Hover effect for table rows */
    background-color: #23c9be;
}
th:hover { /* Hover effect for table rows */
    background-color: #7ce5f3;
}
tr:hover { /* Hover effect for table rows */
    animation: flicker 1s infinite alternate;
}
@keyframes flicker {
    from {
        background-color: #f1fe04;; /* Lighter shade */
    }
    to {
        background-color: #23c9be;; /* Original color */
    }
}
th{
    background-color: #738FE7; 
    padding: .5em 0 .5em 0;
}
.container{
    height: 100vh;
    margin: auto;
}
.template{
text-align: center;
 width: 25em;
 background-color:#2dd467;
 border-radius: 5em;
 padding: 2em;
}